{% include "header.html" %}

<body>
  <header class="header"></header>
  <div class="container">
    <div class="form-page">
      <img
        src="../static/assets/img/new logo.png"
        alt="Envisage Logo"
        class="logo"
      />
      <div class="header">
        <h1 class="heading">Envisage</h1>
        <ion-icon name="heart-outline"></ion-icon>
      </div>

      <div class="app">
        <p class="text">Empower your day, one task at a time.</p>
        <a href="{{url_for('logout')}}" class="btn">Logout</a>
      </div>
      <div class="add">
        <span class="subheading">My Tasks</span>
        <a href="{{url_for('add_task')}}" class="btn">Add</a>
        <a href="{{url_for('tasks')}}" class="btn">My Tasks</a>
      </div>

      {% if tasks|length == 0 %}
      <div class="row"></div>
      <p class="text">Add a task or view tasks to see previous tasks</p>
      {%elif uncompleted_task|length == 0%}
      <div class="row"></div>
      <p class="text">All tasks are completed</p>
      {% endif %}

      <div class="tasks">
        {% for task in uncompleted_task%}

        <ul class="task-list">
          <div class="items">
            <li class="task-item">
              <a href="{{url_for('check_task', task_id=task.id)}}"
                ><ion-icon
                  name="ellipse-outline"
                  class="circle-icon"
                  id="check-button"
                ></ion-icon
              ></a>

              <span class="task"> {{task.task}}</span>

              <a href="{{url_for('edit', task_id=task.id)}}" class="delete"
                ><ion-icon name="pencil-outline"></ion-icon
              ></a>
              <a
                href="{{url_for('delete_task', task_id=task.id)}}"
                class="delete"
                ><ion-icon name="close-outline" class="close"></ion-icon
              ></a>
            </li>
          </div>
        </ul>
      </div>
      {% endfor %}
    </div>
  </div>
</body>
